
<!--ejemplo.ejs-->
<!DOCTYPE html>
<html>
    <head>
        <!-- Configuraciones Metadatos -->

        <!-- CSS -->
        <link rel="stylesheet" href="/css/estilos-generales.css">
    </head>
    <body>
    <h1><p>Hola <%= nombre%> como estas</p></h1>
        <!-- Contenido HTML -->
        <!-- SCRIPTS -->
        <script src="/js/logica-general.js"></script>
    </body>
</html>




<!--<raiz>-->
<!--    <universidad>-->
<!--        <facultad atributo="valor" propiedad="valor">Sistemas</facultad>-->
<!--        <facultad>Mecanica</facultad>-->
<!--    </universidad>-->
<!--    <universidad>-->
<!--        <facultad>Administracion</facultad>-->
<!--        <facultad>Finanzas</facultad>-->
<!--    </universidad>-->
<!--</raiz>-->