
<ul>
    <li>
        <a href="/usuario/vista/inicio">Inicio</a>
    </li>
    <li>
        <a href="/usuario/vista/faq">F.A.Q.</a>
    </li>
    <li>
        <a href="/usuario/vista/login">Login</a>
    </li>
</ul>