<form action="/login" method="post">
    <label for="userID">User: </label>
    <input type="text"
        id="userID"
        name="usuario">
    <label for="passwordID">Password: </label>
    <input type="password"
           id="PaswordID"
           name="password">
    <button type="submit">LogIn</button>
</form>